* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 40px;
}

.header {
    display: flex;
    justify-content: center;
}

.judge {
    margin: 0 8px;
    line-height: 5px;
}

.animals {
    display: flex;
    align-items: baseline;
}

.track {
    border-bottom: 1px solid black;
}

.player {
    transition: all 1s linear;
}

.playground {
    border: 1px solid black;
    background: greenyellow;
}
